<footer>
    <div class="footer-links-container">
        <p><a href="">© 2025 MarshMarket, Inc. All Rights Reserved</a></p>
        <p><a href="">Refund policy</a></p>
        <p><a href="">Privacy policy</a></p>
        <p><a href="">Terms of service</a></p>
        <p><a href="">Do Not Sell My Personal Information</a></p>
    </div>
</footer>

<style>
footer{
    padding: 20px 30px;
    background-color: rgba(255, 148, 109, 0.192);
    .footer-links-container{
        display: flex;
        justify-content: space-around;
    }
}
</style>