<nav>
    <div class="nav-main-container">
        <div class="logo-container">
            <p>MARSH MARKET</p>
        </div>
        <div class="navigation-container">
            <a href="">Work</a>
            <a href="">Team</a>
            <a href="">Contact</a>
        </div>
    </div>
</nav>

<style>
nav{
    background-color: azure;
    .nav-main-container{
        padding: 20px 30px;
        display: flex;
        justify-content: space-between;
        .logo-container{
            p{
                margin:0;
            }
        }
    }
}
</style>