<section class="sec-1-descriptor">
    <div class="sec-main-desc-cont">
        <div class="desc-cont">
            <h2>
                We shape iconic identities that perform —  
                in culture and numbers.
            </h2>
            <p>
                Hola! Welcome to Marsh Market — a complete Shopify world for brands that never settle for less. We work inside the ecosystem — strategy, build, creativity, and performance — so nothing gets lost in translation.
            </p>
        </div>
        <div class="img-container">
            <img src="https://www.rainycityagency.com/cdn/shop/files/bird.jpg?v=1734546098" alt="">
        </div>

    </div>
</section>

<style>
.sec-1-descriptor{
    .sec-main-desc-cont{
    }
}
@media (min-width:750px){
    .sec-1-descriptor{
        height: 90vh;
        position: relative;
        .sec-main-desc-cont{
            height: 100%;
            position: relative;
            display:flex;
            gap:10px;
            .desc-cont{
                width: 50%;
            }
            .img-container{
                position: relative;
                height: 100%;
                width: 100%;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}
</style>